In [6]:
# initialize list of tuple
test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
 
# printing original tuples list
print("The original list : " + str(test_list))
 
# Flatten Tuples List to String
# using join() + list comprehension
res = ' '.join([idx for tup in test_list for idx in tup])
 
# printing result
print("Tuple list converted to String is : " + res)

The original list : [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
Tuple list converted to String is : 1 4 6 5 8 2 9 1 10

In [7]:
# initialize list of tuple
test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
 
# printing original tuples list
print("The original list : " + str(test_list))
 
# Flatten Tuples List to String
res = []
for i in test_list:
    res.extend(list(i))
res = " ".join(res)
# printing result
print("Tuple list converted to String is : " + res)

The original list : [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
Tuple list converted to String is : 1 4 6 5 8 2 9 1 10

In [8]:
# initialize list of tuple
test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
 
# printing original tuples list
print("The original list : " + str(test_list))
 
# Flatten Tuples List to String
res = " ".join(map(str, sum(test_list, ())))
# printing result
print("Tuple list converted to String is : " + res)

The original list : [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
Tuple list converted to String is : 1 4 6 5 8 2 9 1 10

In [9]:
# initialize list of tuple
test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
 
# printing original tuples list
print("The original list : " + str(test_list))
 
# Flatten Tuples List to String
res = ""
for tup in test_list:
    for element in tup:
        res += element + " "
 # remove last space
res = res[:-1]
 
# printing result
print("Tuple list converted to String is : " + res)

The original list : [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]
Tuple list converted to String is : 1 4 6 5 8 2 9 1 10